*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(31, 17, 17), rgb(65, 85, 65));
    height: 100vh;
}
.container {
    width: 800px ;
    height: 700px;
    background: linear-gradient(45deg, rgb(100, 170, 199), rgb(237, 109, 233));
    display: grid;
    grid-template: 100px 300px 100px 100px 100px / repeat(8,100px);
    margin: 100px auto;
    position: relative;
    border: 1px solid #f1f1f1;
}

h1 {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}
.bloc-logo-info {
    grid-area: 2 / 1 / 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc-logo {
    width: 50%;
}
.bloc-logo img {
    width: 100%;
    height: auto;
}
.bloc-info { 
    width: 50%;
}
.bloc-info .temps { 
    font-size: 35px ;
}
.bloc-info .temps::first-letter{
    text-transform: capitalize;
}
.bloc-info .temperature{
    font-size: 60px;
}
.bloc-info .localisation {
    font-size: 40px;
    word-wrap: break-word;
}
.bloc-info-hydro-vent {
    grid-area: 3 / 1 / 4 / -1 ;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #f1f1f1;
    
}
.bloc-info-hydro-vent p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.bloc-info-hydro , .bloc-info-vent {
    display: grid;
    grid-template: 100px / 400px;
    /* border: 1px solid #f1f1f1; */
}
.bloc-info-hydro {
    border-right: 1px solid #f1f1f1;
}

.heure-bloc-prevision {
    grid-area: 4 / 1 / 5 /-1;  
}
.jour-bloc-prevision {
    grid-area: 5 / 1 / 6 /-1;
}
.jour-bloc-prevision , .heure-bloc-prevision {
    display: grid;
    grid-template: 100px / repeat(7, 1fr);
}
.bloc-h , .bloc-j {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border-top: 1px solid #f1f1f1;
}

.bloc-h:not(:last-child) , .bloc-j:not(:last-child) {
border-right: 1px solid #f1f1f1;
}
.bloc-h p, .bloc-j p {
    margin: 5px;
}
